#resume 
{
    background-color: #F1C27B;
    margin: 5px;
    padding: 5px;
}

#Gabi 
{
    float: right;
    border: solid white;
    border-width: 7px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}

#intro h1 
{
    font-size: 3rem;
    color: white;
}




